@media (max-width: 1200px)
  .container
    max-width: 90%
  .nav
    &__list
      margin: 0
  .main
    &-wrapper
      padding: 0
    &__title
      font-size: 45px
      line-height: 60px
  .form
    &__message
      width: 315px
      height: 145px
  .electric
    &__list
      font-size: 20px
      line-height: 20px
    &__slider
      width: 49%
      height: 340px
      &-img
        height: 340px
@media (max-width: 992px)
  .header
    &__logo
      margin: 10px 17px
  .nav
    &__item
      margin-right: 40px
  .main
    &__title
      font-size: 36px
      line-height: 50px
  .electric
    padding: 50px 3% 47px 3%
    &__title
      font-size: 35px
      line-height: 40px
      width: 195px
      margin-bottom: 58px
    &-wrapper
      flex-direction: column
    &__slider
      width: 100%
      align-self: center
      height: 500px
      &-img
        height: 500px
  .button
    &-link
      display: none
    &-mobile
      display: block
@media (max-width: 768px)
  .header
    &-wrapper
      flex-wrap: wrap
      justify-content: space-between
      padding-bottom: 15px
    &__logo
      width: 60px
      height: 65px
      order: -2
      margin-left: 0
      margin-right: 0
    &__tel
      order: -1
  .nav
    flex-basis: 100%
    &__list
      justify-content: space-between
      font-size: 14px
    &__item
      margin-right: 0
  .main
    padding: 55px 0
    &-wrapper
      flex-direction: column
      align-items: start
    &__title
      font-size: 45px
      line-height: 60px
      margin-bottom: 30px
  .form
    display: none
    &__button
      &--mobile
        display: block
        background-color: $gray
        padding: 20px
  .electric
    &__slider
      height: 400px
      &-img
        height: 400px
  .button
    &-mobile
      font-size: 16px
      padding: 10px 20px
      width: auto
@media (max-width: 576px)
  .nav
    margin-left: 0
  .main
    &__title
      font-size: 35px
      line-height: 45px
      margin-bottom: 25px
  .form
    &__button
      &--mobile
        font-size: 16px
        padding: 10px 20px
  .modal
    &-form
      &__title
        font-size: 20px
        line-height: 20px
      &__input
        font-size: 16px
        line-height: 20px
      &__text
        font-size: 16px
      &__message
        width: 250px
        height: 150px
      &__button
        font-size: 16px
        padding: 10px 0
    &__dialog
      padding-bottom: 25px
  .electric
    padding: 35px 2% 40px 2%
    &__title
      font-size: 30px
      line-height: 35px
      width: 175px
      margin-bottom: 35px
    &__list
      font-size: 13px
      line-height: 15px
    &__slider
      margin-bottom: 35px
